# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/legacy/node_modules
/modern/node_modules
/modern/.yarn-cache
/.pnp
.pnp.js

# testing
/coverage

# production
/legacy/build

# misc
.DS_Store
/legacy/.env.local
/legacy/.env.development.local
/legacy/.env.test.local
/legacy/.env.production.local
/legacy/.env
/modern/.wrangler
/modern/.yarn/unplugged
/modern/.yarn/install-state.gz

npm-debug.log*
yarn-debug.log*
yarn-error.log*
