.center {
  display:flex; justify-content: center; align-items: center;
}

.game-container {
  background-size: cover;
  background-position: top center; /* 画像を上中央に配置する */
  background-repeat: no-repeat; /* 画像が繰り返し表示されないようにする */
  align-items: center;
  background-image: url("/public/back-ground.png");

  width: min(95vw, 95vh * (16 / 9)); /* 横幅の計算 */
  height: min(95vh, 95vw / (16 / 9)); /* 縦幅の計算 */

  display: flex;
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center; /* 垂直方向に中央揃え */
  flex-direction: column; /* 必要に応じて、縦方向に配置を変更 */
  position: relative;
}




.StageCard {
  aspect-ratio: 1/1.586;
  height: 40%;
  width: auto;
}




.game-container .myHand {
  position: absolute;
  top: 70%;
  left: 0%;  
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: auto;
  white-space: nowrap; /* リストの要素が横に並ぶようにします */
  -ms-overflow-style: none; /* IE、Edge用のスクロールバー非表示 */
  scrollbar-width: none; /* Firefox用のスクロールバー非表示 */
}

.game-container .myHand::-webkit-scrollbar {
  display: none; /* WebKit系ブラウザ（Chrome, Safariなど）用のスクロールバー非表示 */
}




.game-container .myHand ul {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.game-container .myHand li {  
  position: relative; /* 要素を相対的に配置 */
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1.586;
  width: auto;
  height: 80%;
  min-width: 0;
  margin-right: -2%;
  /* ホバー時アニメーション */
  transition-property: flex-shrink, translate;
  transition-duration: 0.2s;
  /* ホバーしたカードが前面に出ないようにする */
  isolation: isolate;
}

.game-container .myHand li:nth-child(n) {
  z-index: n; /* 各要素のz-indexを設定し、重なりの順序を制御 */
}

.game-container .myHand li {
  transition: z-index 0.3s ease; /* スムーズな変化のためのトランジション */
}



.game-container .Deck {
  position: absolute;
  top: 50%;
  left: 70%;
  background-size: contain;
  background-position: top center; /* 画像を上中央に配置する */
  background-repeat: no-repeat; /* 画像が繰り返し表示されないようにする */
  align-items: center;
  background-image: url("/public/deck.png");
  width: 8%;
  height: 6%;
  border: none; /* ここでボーダーを無効化 */
  outline: none; /* フォーカス時のアウトラインも消す場合はこちらを追加 */
  background-color: transparent; /* 背景色を透過に設定 */
}

.game-container .StageCard{
  position: absolute;
  
  
}
.game-container .timer{
  position: absolute;
  top: 60%;
  left: 70%;
  
}

.game-container .passButton {
  position: absolute;
  top: 50%;
  left: 80%;
}


.pile {
  position: absolute;
  top: 50%;
  width: 50%;
}

