/* 追加するCSSスタイル */
.enemy-turn {
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.2);
}



.opponentHand{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 23%;
  width: 100%;
}

.opponentHand li{
  height: 100%;
  list-style-type: none; /* リストのマーカーを非表示にする */
  padding: 0; /* パディングをリセットする */
  margin: 0; /* マージンをリセットする */
}
/* For position-one */
.position-one .opponent-position-0 {
  /* opponent-position-1 when there is only one opponent */
  position: absolute;
  top: 50%; /* Example position */
  left: 50%; /* Example position */
  transform: translate(-50%, -50%);
}

.position-two{
  
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  padding-top: 3%;;
  display: flex;
}
/* For position-two */
.position-two .opponent-position-0 {
  /* opponent-position-1 when there are two opponents */
  width: 50%;
}

.position-two .opponent-position-1 {
  /* opponent-position-2 when there are two opponents */
  width: 50%;
}

.position-three{
  
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  padding-top: 3%;;
  display: flex;
}
/* For position-three */
.position-three .opponent-position-0 {
  width: 33%;

}
.position-three .opponent-position-1 {
  width: 33%;
}
.position-three .opponent-position-2 {
  width: 33%;

}
