.card-container {
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50%; /* 親要素の高さの50% */
  left: 50%; /* 親要素の幅の50% */
  transform: translate(
    -50%,
    -50%
  ); /* 自身の幅と高さの50%を引いて、正確に中央に配置 */
  height: 80%;
  aspect-ratio: 1/1.586;
  border: none;
  outline: none;
  background-color: transparent;
}

.card-details {
  width: 100%;
  height: 100%;
}

.card-graphic {
  width: 85%;
  object-fit: contain;
  position: absolute;
  top: 3.9%;
  left: 7.3%; 
}

.card-value {
  position: absolute;
  object-fit: contain; /* 縦横比を保持して画像を表示 */
  width: 40%;
  top: -3%;
  left: -5%;
}

/* 色ごとのスタイル */
.card-container.red {
  background-image: url("/public/card_graphic/redcard.png");
}

.card-container.blue {
  background-image: url("/public/card_graphic/bluecard.png");
}

.card-container.green {
  background-image: url("/public/card_graphic/greencard.png");
}
